<div class="container mt-5">
  <h2 class="mb-4">Liste des clients</h2>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Date de Visite</th>
      <th scope="col">Adresse</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <th scope="row">{{client.id}}</th>
      <td>{{client.nom}}</td>
      <td>{{client.prenom}}</td>
      <td>{{client.dateVisite|date}}</td>
      <td>{{client.adresse}}</td>
      <td>
        <button class="btn btn-danger" (click)="confirmDelete(client.id)">Delete</button>
        <button class="btn btn-primary" (click)="editClient(client.id)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

